body {
    margin: 0;
    padding: 0;
    background-color: #1b263b;
    color: #d1d5db;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.radar-container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

#radarCanvas {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #1b263b;
}
